.gaming-section {
    padding-top: 40px;
    color: white;
    background: linear-gradient(to bottom, rgba(42, 71, 94, 1.0) 5%, rgba(42, 71, 94, 0.0) 100%);
}

#games {
    padding-bottom: 40px;
    padding-top: 40px;
}

#games .wrap-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    color: white;
}

#games .wrap-content .dealrating {
    color: #BEEE11;
    background: #4c6b22;
    font-size: 18px;
    padding: 0px 5px;
}

#games .wrap-content .normalPrice {
    font-size: 24px;
    margin-left: 25px;
}

#games .wrap-content .pricing {
    display: flex;
    padding-right: 25px;
}

#games .tab_item {
    display: flex;
    background: rgba(0, 0, 0, 0.2);
    margin-bottom: 15px;
    height: 69px;
}

#games .tab_item_cap {
    display: flex;
}

#games .tab_item_content {
    padding-left: 25px;
}

#games .tab_item_content h4 {
    font-size: 20px;
}

.gaming-chart {
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

.wrap-content .pricing .addGame,
#emptyCart {
    padding: 5px 10px;
    margin-left: 15px;

}

.game-action,
.latestgame-title {
    text-align: center;
}

.latestgame-title {
    margin: 15px 0;
}

#emptyCart {
    margin-bottom: 15px;
}
