#footer {
	background-color: rgba(43, 42, 60, 1);
	padding: 30px 0;
	position: relative;
	width: 100%;
}

/* details */

#footer .links a {
	border-right: 1px dotted rgba(220, 220, 220, 0.15);
	color: rgba(255, 255, 255, 1);
	display: inline-block;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	font-weight: 300;
	letter-spacing: 2px;
	line-height: 51px;
	margin: 0 30px 0 0;
	padding: 0px 30px 0 0;
	text-decoration: none;
	text-transform: uppercase;
}

#footer a:last-of-type {
	border-right: none;
	margin-right: 0;
}

/* icons */

#footer .links i {
	color: rgba(250, 205, 95, 1);
	margin-right: 15px;
	vertical-align: middle;
	line-height: inherit;
}

@media only screen and (max-width: 900px) {
	#footer .links a {
		border-right: none;
		display: table-row-group;
		font-size: 12px;
	}
}